#p13container { display: block; }
.p13title { position: fixed; top: 0; left: 0; font-size: 1.3rem; width: 100vw; height: 3rem; display: flex; align-content: center; flex-wrap: wrap; justify-content: center; }
#p13canvas { flex: 1; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: -1; }
.p13presets { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; display: none; flex-wrap: wrap; align-content: center; justify-content: center; gap: .5rem; background-color: rgba(0,0,0,.5); overflow-y: auto; z-index: 1; }
.p13prefunc { background-color: var(--color-primary); color: var(--color-bg); border: .1rem solid var(--color-text); border-radius: .5rem; padding: .5rem; cursor: pointer; }
.p13input1 { margin-bottom: 1.5rem; position: absolute; top: 0; left: 0; width: min-content; font-size: .9rem; z-index: 2; }
.p13input2 { position: fixed; margin-bottom: 1.5rem; bottom: -.8rem; left: 0; width: min-content; font-size: .9rem; z-index: 2; }
#p13i21, #p13i22 { width: 4.2rem; }
.p13functions { display: flex; flex-direction: row; align-items: center; }
#p13i23 { width: fit-content; min-width: 50vw; box-sizing: content-box; }
#p13b21 { margin-left: .5rem; }
#p13presetsBotton { cursor: pointer; width: max-content; margin-left: 1rem; margin-top: 1.2rem; font-size: .9rem; color: var(--color-primary); }
.p13output { display: flex; position: fixed; bottom: .5rem; right: 0; justify-content: space-between; margin-right: .5rem; font-size: .9rem; }
.p13output .value { margin-left: .5rem; }
