.p3Processp { margin-top: .5rem; margin-right: 1rem; }

#p3CalcContainer {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  #p3CalcContainer { width: 50%; }
}
